.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

build/

# Android related
/android/.gradle/
/android/app/*.iml
/android/local.properties

# Visual Studio Code
.vscode/

# IntelliJ
.idea/

# macOS
.DS_Store

# Misc
*.log
